*{
	box-sizing: border-box;
}
header
{
	background-color: #0E71AA;
	padding:10px 0;
	color:white;
}.titulo span
{
	font-family: Pacifico;
}
header i
{
	font-size: 20px;
}

header button 
{
	background-color: #6392AD;
	border:none;
	padding: 8px 5px;

}
header input
{
	border:none;
	background-color: #6392AD;
	height: 25px;
}
.titulo .fa
{
	font-size: 30px;
	color: #6392AD;

}
.titulo :hover
{
	color:#C8DFEC;
}

.tableros .btn:hover
{
	color: white;
}

/*PATE DEL TABLEROS*/
.tableroPersonal 
{
	color: white;
	font-size: 20px;
	background-color: #80C1FE;

}
.tableroPersonal span
{
	font-size: 18px;
}
/*ESTILOS PARA LA CREACION DE TABLEROS*/
.crearTab
{
	display: none;
	background-color: white;
	color: black;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #888888;
	position:absolute;
	top:75%;
	left:30%;
	padding: 10px;
	font-size: 15px;
}
.crearTab input
{
	background-color: white;
	width: 100%;
	padding-left: 3px;
	border-radius: 3px;
}
.crearTab button
{
	color: white;
	padding: 12px;
	border-radius: 5px;
	background-color:#73D233;
	margin-top: 20px;
	font-size: bold;
}
.crearTab button:hover
{
	background-color: #5FAD2B;
}
/*LIS DE LOS ELEMENTOS DE LOS TABLEROS*/

.lista .elemento
{
	display: inline-block;
}
.elemento
{
	background-color: #0E71AA;
	margin:20px;
	box-sizing: border-box;
	width: 300px;
	height: 150px;
}
.elemento small
{
	color: white;
	padding:0px 50px 50px 10px;
}
/******LISTAS DE LAS TAREAS****/
.listas
{
	color: black;
	font-size: 15px;
	border-radius: 3px;
	display: inline-block;
}
.listas input
{
	width: 100%;
	border-radius: 3px;
	box-shadow: none;
	background-color: #D7D9DB;
}
.listas li
{
	margin: 20px;
	width: 300px;
	padding: 10px;
	display: inline-block;
	background-color: #EAE7E7;
}
.listas button
{
	border:none;
	background-color: #73D233;
	border-radius: 3px;
	color: white;
	padding: 8px;
}
.listas button:hover
{
	background-color: #5FAD2B;
}
/***listaTarjetas****/
